@page
@model Livraria.App.Pages.Instituicoes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>InstituicaoDeEnsino</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstituicaoDeEnsino.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstituicaoDeEnsino.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstituicaoDeEnsino.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstituicaoDeEnsino.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InstituicaoDeEnsino.CNPJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InstituicaoDeEnsino.CNPJ)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InstituicaoDeEnsino.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
