@page
@model Livraria.App.Pages.Livro.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Publicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Paginas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Emprestado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].Reservado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Livro[0].UsuarioReserva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Livro) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paginas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emprestado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioReserva.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
